{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <div class="row mt-5">
      <div class="col-10 col-md-6 offset-1 offset-md-3 mb-3">
        <form action="" class="card mb-3" method="post">
          <div class="card-body text-center pt-5">
            <img src="{{teacher['picture']}}" class="mb-3" width="95" alt="">
            <h2 class="h5 card-title mt-2 mb-2">{{teacher['name']}}</h2>
            <p class="my-1">Запись на пробный урок</p>
            <p class="my-1">{{days[day]}}, {{hour}}:00</p>
          </div>
          <hr />
          <div class="card-body mx-3">
              <div class="row">
                  <input class="form-control" type="hidden" name="clientWeekday" value="{{day}}">
                  <input class="form-control" type="hidden" name="clientTime" value="{{hour}}:00">
                  <input class="form-control" type="hidden" name="clientTeacher" value="{{teacher['id']}}">
              </div>

            {{ form.clientName.label(class_="mb-1 mt-2") }}
            {{ form.clientName(class_="form-control") }}

            {{ form.clientPhone.label(class_="mb-1 mt-2") }}
            {{ form.clientPhone(class_="form-control") }}
            {{ form.csrf_token }}
            <input type="submit" class="btn btn-primary btn-block mt-4" value="Записаться на пробный урок">

          </div>
        </form>
      </div>
    </div>
{% endblock %}