{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}


    <section class="mt-3 pb-5">
      {% if departure is defined %}
        <h1>Туры по направлению {{departures_list[departure]}}:</h1>
      {% else %}
        <h1>Все туры:</h1>
      {% endif %}
        {% for item in list %}
            <p>{{list[item].country}}: <a href="/tours/{{item}}/">{{list[item].title}} {{list[item].stars}}*</a></p>
        {% endfor %}
    </section>

{% endblock %}