{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <section>
    <h1 class="h1 text-center mx-auto mt-4 py-5"><strong>Найдите идеального <br>репетитора английского, <br>занимайтесь онлайн</strong></h1>
    {% include 'parts/goals_nav.html' %}
    <h2 class="h5 text-center mb-5">Наши преподаватели</h2>
    <div class="row">
      <div class="col-4 col-lg-3  offset-lg-1">
        Всего {{teachers_c}} преподавателей
      </div>
      <div class="col-2 col-lg-2 offset-2">
        Сортировать:
      </div>
      <div class="col-2 col-lg-2 rate-sort" style="cursor:pointer;">
        по рейтингу
      </div>
      <div class="col-2 col-lg-2 price-sort" style="cursor:pointer;">
        по ставке
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-10 offset-lg-1 m-auto">
        {% for teacher in teachers %}
            {% include 'parts/_teacher.html' %}
        {% endfor %}
      </div>
    </div>


    <h2 class="text-center mt-5 mb-3">Не нашли своего репетитора?</h2>
    <p class="text-center mb-4">Расскажите, кто вам нужен и мы подберем его сами</p>
    <div class="text-center pb-5">
        <a href="/request/" class="btn btn-primary">Заказать подбор</a>
    </div>
      </section>
<script>
    window.onload = function() {
        $(document).on('click','.rate-sort', function(){
            window.location.href = '/teachers?sort=rating';
        });
        $(document).on('click','.price-sort', function(){
            window.location.href = '/teachers?sort=price';
        });
    }
</script>
{% endblock %}