{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <div class="col-12 col-sm-10 col-lg-6 offset-lg-3 offset-sm-1">
      <form class="card mb-5" method="post">
        <div class="card-body text-center pt-5">
          <h1 class="h3 card-title mt-4 mb-2">Подбор преподавателя</h1>
          <p class="px-5">Напишите, чего вам нужно и&nbsp;мы&nbsp;подберем отличных&nbsp;ребят</p>
        </div>
        <hr>
        <div class="card-body mx-3">
          <div class="row">
            <div class="col">
              <p>{{ form.clientGoal.label(class_="mb-1 mt-2") }}</p>
              {% for subfield in form.clientGoal %}
                <div class="form-check ">
                    {{ subfield(class_="form-check-input") }}
                    {{ subfield.label(class_="form-check-label") }}
                </div>
              {% endfor %}
            </div>
            <div class="col">
              <p>{{ form.clientTime.label(class_="mb-1 mt-2") }}</p>
              {% for subfield in form.clientTime %}
                <div class="form-check ">
                    {{ subfield(class_="form-check-input") }}
                    {{ subfield.label(class_="form-check-label") }}
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
        <hr>
        <div class="card-body mx-3">
            {{ form.clientName.label(class_="mb-1 mt-2") }}
            {{ form.clientName(class_="form-control") }}

            {{ form.clientPhone.label(class_="mb-1 mt-2") }}
            {{ form.clientPhone(class_="form-control") }}
            {{ form.csrf_token }}
          <input type="submit" class="btn btn-primary mt-4 mb-2" value="Найдите мне преподавателя">
        </div>
      </form>
    </div>
{% endblock %}